[buildout]
extends = versions.cfg

develop = .

# buildout options
show-picked-versions = true
newest = false
download-cache = downloads

## extensions

# use python site-packages
# https://pypi.python.org/pypi/buildout.locallib/ 
extensions = buildout.locallib

parts = 
    conda
    hummingbird
    pywps
    ipython
    nose
    sphinx
    docker
      
[settings]
hostname = localhost
http-port = 8092
https-port = 28092
output-port = 8090
log-level = WARN
user =
project = Hummingbird
version = 0.2.3

[conda]
recipe = birdhousebuilder.recipe.conda
pkgs = 
     ipython
     malleefowl>=0.3.9
     pycdo
     netcdf4
     owslib
     pywps
     cfchecker
     tika
     qa-dkrz>=0.5.2
     compliance-checker<2
     basemap

[hummingbird]
recipe = zc.recipe.egg
eggs =
     malleefowl
     cdo
     cfchecker
interpreter = python

[pywps]
recipe = birdhousebuilder.recipe.pywps
sites = hummingbird
keywords = WPS, PyWPS, Birdhouse, Hummingbird, Python, CDO, CFChecker
providerName = Birdhouse/Hummingbird
providerSite = http://birdhouse-hummingbird.readthedocs.org/en/latest/
processesPath = ${buildout:directory}/processes
hostname = ${settings:hostname}
http_port = ${settings:http-port}
https_port = ${settings:https-port}
output_port = ${settings:output-port}
logLevel = ${settings:log-level}
user = ${settings:user}

title = ${settings:project}
abstract = WPS processes for general tools used in the climate science community like cdo 

[ipython]
recipe = zc.recipe.egg
eggs =
    ipython
    ${hummingbird:eggs}
entry-points =
   ipython=IPython:start_ipython
scripts =
    ipython=ipython

[nose]
recipe = zc.recipe.egg
eggs =
    nose
    ${hummingbird:eggs}
entry-points =
    nosetests=nose:run_exit
scripts =
    nosetests=nosetests

[sphinx]
recipe = birdhousebuilder.recipe.sphinx
project = ${settings:project}
version = ${settings:version}
src = hummingbird

[docker]
recipe = birdhousebuilder.recipe.docker
description = ${settings:project} WPS Application
maintainer = https://github.com/bird-house/hummingbird
version = ${settings:version}
expose = 9001 8092 28092 $OUTPUT_PORT
environment =
     OUTPUT_PORT=38092
     LOG_LEVEL=warn

