pytest>=6.0
pytest-runner
pytest-cov
flake8
tox
pytest-flake8
ipython
pytest-notebook
nbsphinx
nbval>=0.9.6
nbconvert
sphinx>=1.8.5
bumpversion
Click
cruft
# Changing dependencies above this comment will create merge conflicts when updating the cookiecutter template with cruft. Add extra requirements below this line.
