[buildout]
extends = versions.cfg

develop = .

# buildout options
log-level = INFO
show-picked-versions = true
newest = false
download-cache = downloads

# conda
# offline: make sure all deps are in environment.yml
conda-offline = true
channel-priority = true
override-channels = true
conda-channels = birdhouse conda-forge defaults

## extensions

# use python site-packages
# https://pypi.python.org/pypi/buildout.locallib/
extensions = buildout.locallib

parts =
    hummingbird
    pywps

[settings]
prefix = ${environment:HOME}/birdhouse
user =
etc-user =
hostname = localhost
http-port = 8092
https-port = 28092
output-port = 8090
log-level = WARN
project = Hummingbird
version = 0.5_dev

[environment]
recipe = collective.recipe.environment

[hummingbird]
recipe = zc.recipe.egg
eggs =
     hummingbird
interpreter = python

[pywps]
recipe = birdhousebuilder.recipe.pywps
# name of our wps
name = hummingbird
# conda
channels = ${buildout:conda-channels}
# deployment options
prefix = ${settings:prefix}
user = ${settings:user}
etc-user = ${settings:etc-user}
# service options
hostname = ${settings:hostname}
enable-https = false
http-port = ${settings:http-port}
https-port = ${settings:https-port}
http-output-port = ${settings:output-port}
loglevel = ${settings:log-level}
workers = 3
worker-class = sync
# wps options
title = ${settings:project} ${settings:version}
abstract = WPS processes for general tools used in the climate science community like cdo and compliance checker.
keywords = WPS, PyWPS, Birdhouse, Python, hummingbird, CDO, CFChecker, Compliance
provider-name = ${settings:project}
provider-url = http://birdhouse-hummingbird.readthedocs.org/en/latest/
processes-import = hummingbird.processes
processes-path = ${buildout:directory}/hummingbird/processes
parallelprocesses = 30
maxprocesses = 30
maxsingleinputsize=1024mb
logformat = %(asctime)s] [%(levelname)s] [%(module)s] %(message)s
database = sqlite

[ipython]
recipe = zc.recipe.egg
eggs =
    ipython
    ${hummingbird:eggs}
entry-points =
   ipython=IPython:start_ipython
scripts =
    ipython=ipython

[pytest]
recipe = zc.recipe.egg
eggs =
    pytest
    ${hummingbird:eggs}

[sphinx]
recipe = birdhousebuilder.recipe.sphinx
project = ${settings:project}
version = ${settings:version}
src = hummingbird

[docker]
recipe = birdhousebuilder.recipe.docker
app = hummingbird
maintainer = https://github.com/bird-house/hummingbird
version = ${settings:version}
#hostname = localhost
#supervisor-port = 9001
#http-port = 8080
#https-port = 8443
#output-port = 8000
